{{define "title"}}Home{{end}}

{{define "main"}}
<div class="container">
    <div class="categories-container">
    <h2>Categories</h2>
    {{range .Categories}}
    <form method="GET" action="/">
        <button type="submit" name="category" value="{{.Id}}">{{.Name}}</button>
    </form>
    {{end}}
    <br><br><a href='/'>Clear</a>
    </div>
    
    {{if .Posts}}
    <div class="post-list-container">
    <h2>Latest Posts</h2>
     <table>
        <tr>
            <th>Title</th>
            <th>Categories</th>
            <th>Created</th>
        </tr>
        {{range .Posts}}
        <tr>
            <td><a href='/post/view?id={{.Id}}'>{{.Title}}</a></td>
            <td>{{range .Categories}}
            {{.Name}} 
            {{end}}</td>
            <td>{{humanDate .Created}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
</div>
{{end}}